.pagelist {
  display: flex;
  flex-direction: column;
}

.category {
  margin-bottom: 0.5rem;
  padding: 1rem 0 0.5rem;
  border-bottom: 0.2rem solid var(--color-3);
  text-transform: capitalize;
  font-size: 1.15rem;
}

.page {
  padding: 0.25rem 0;
  text-transform: capitalize;
  font-size: 1.15rem;
  color: var(--color-1);

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
  }
}

.empty {
  padding: 0.5rem;
}
