.switch {
  display: inline-flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-family: var(--font-text-bold);

  &:focus-visible {
    outline: 0;

    .inner {
      outline: 0.2rem solid var(--color-purple-hover);
      outline-offset: 0.125rem;
    }
  }
}

.label {
  text-align: left;
  color: var(--color-1);

  & ~ .inner {
    margin-left: 0.75rem;
  }
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-2);
  border-width: 0.125rem;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 2rem;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    z-index: 2;
    background-color: var(--color-purple);
    border-radius: 50%;
    transition: transform 0.2s var(--easy-in-out-expo);
  }

  &:hover {
    background-color: var(--color-3);

    &::before {
      background-color: var(--color-purple-hover);
    }
  }
}

.on {
  position: relative;
  z-index: 1;
  background-color: var(--color-1);
}

.off {
  position: relative;
  z-index: 1;
  border-style: solid;
  border-color: var(--color-1);
  border-radius: 50%;
}

.checked:not(.disabled) {
  .inner {
    background-color: var(--color-purple);

    &::before {
      background-color: var(--color-2);
    }

    &:hover {
      background-color: var(--color-purple-hover);
    }

    .on {
      background-color: var(--color-1);
    }
  }
}

.disabled {
  pointer-events: none;

  .inner {
    border-color: var(--color-1);

    &::before {
      background-color: var(--color-1);
    }
  }

  .label {
    color: var(--color-1);
  }

  .on {
    background-color: var(--color-1);
  }

  .off {
    border-color: var(--color-1);
  }
}

.small {
  font-size: 1.15rem;

  .inner {
    width: 56px;
    height: 28px;
    padding: 0 0.65rem 0 1rem;

    &::before {
      width: 20px;
      height: 20px;
    }
  }

  .on {
    width: 2px;
    height: 10px;
  }

  .off {
    width: 10px;
    height: 10px;
    border-width: 2px;
  }

  &.checked {
    .inner {
      &::before {
        transform: translateX(28px);
      }
    }
  }
}

.medium {
  font-size: 1.55rem;

  .inner {
    width: 72px;
    height: 36px;
    padding: 0 0.75rem 0 1.25rem;

    &::before {
      width: 28px;
      height: 28px;
    }
  }

  .on {
    width: 3px;
    height: 14px;
  }

  .off {
    width: 14px;
    height: 14px;
    border-width: 3px;
  }

  &.checked {
    .inner {
      &::before {
        transform: translateX(36px);
      }
    }
  }
}
