$desktop: 1281px;
$tablet-portrait: 769px;

.story {
  overflow: hidden;
  margin-top: 2.5rem;

  @media (max-width: $desktop) {
    margin-top: 1.5rem;
  }

  @media (max-width: $tablet-portrait) {
    margin-top: 1rem;
  }
}

.demo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
  border: 0.2rem solid var(--color-3);

  @media (max-width: $desktop) {
    padding: 2rem;
  }

  @media (max-width: $tablet-portrait) {
    padding: 1rem;
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  border-right: 0.2rem solid var(--color-3);
  border-bottom: 0.2rem solid var(--color-3);
  border-left: 0.2rem solid var(--color-3);
}

.code {
  display: none;
  padding: 1rem 1.25rem;
  background-color: var(--color-5);
  line-height: 1.5;
  font-size: 1rem;
  color: var(--color-neutral-6);

  .expanded & {
    display: block;
    animation: Appear 0.15s var(--easy-in-out-expo);
  }
}

.button {
  width: 4.25rem;
  height: 3.25rem;
  background-color: var(--color-2);
  border-style: solid;
  border-color: var(--color-3);
  border-width: 0 0 0 0.2rem;
  font-size: 1.75rem;
  color: var(--color-1);

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }

  svg {
    width: 1.75rem;
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}
