.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-text-bold);
  cursor: pointer;

  svg {
    height: auto;
  }
}
