.alerts {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 25rem;

  @media (max-width: 769px) {
    top: 0.25rem;
    right: 0.25rem;
  }

  .alert {
    margin: 1rem;

    & + .alert {
      margin-top: 0;
    }
  }
}

.alert {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: var(--color-neutral-5);

  &.animate {
    animation: Appear 800ms var(--easy-in-out-quad);
  }

  &.info {
    background-color: var(--color-blue);

    .close {
      border-color: var(--color-blue-hover);

      &:hover {
        background-color: var(--color-blue-hover);
      }
    }

    .progress {
      background-color: var(--color-blue-hover);
    }
  }

  &.success {
    background-color: var(--color-chartreuse);

    .close {
      border-color: var(--color-chartreuse-hover);

      &:hover {
        background-color: var(--color-chartreuse-hover);
      }
    }

    .progress {
      background-color: var(--color-chartreuse-hover);
    }
  }

  &.warning {
    background-color: var(--color-yellow);

    .close {
      border-color: var(--color-yellow-hover);

      &:hover {
        background-color: var(--color-yellow-hover);
      }
    }

    .progress {
      background-color: var(--color-yellow-hover);
    }
  }

  &.error {
    background-color: var(--color-red);

    .close {
      border-color: var(--color-red-hover);

      &:hover {
        background-color: var(--color-red-hover);
      }
    }

    .progress {
      background-color: var(--color-red-hover);
    }
  }

  .close {
    position: relative;
    z-index: 1;
    padding: 0.25rem 0.5rem;
    border-width: 0.2rem;
    border-style: solid;
    background-color: transparent;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--color-neutral-5);

    &:hover {
      background-color: var(--color-4);
    }

    &:focus-visible {
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.125rem;
    }
  }
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 0.75rem;
  font-family: var(--font-text-bold);
  line-height: 1.2;
}

.title {
  margin: 0.25rem 0 0.5rem;
  font-size: 1.5rem;
}

.text {
  margin: 0.25rem 0 0;
  font-size: 1.15rem;
}

.icon {
  position: relative;
  z-index: 1;
  margin-right: 0.5rem;
  font-size: 2rem;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 0.35rem;
  animation: Progress var(--timeout) linear;
}

@keyframes Appear {
  0% {
    transform: scale(0.9);
  }
}

@keyframes Progress {
  0% {
    width: 1px;
  }

  100% {
    width: 100%;
  }
}
