$desktop: 1281px;
$tablet-portrait: 769px;

.tabs {
  max-width: 65rem;
}

.title {
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-text-black);
  font-size: 2.5rem;

  @media (max-width: $desktop) {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.tablist {
  display: flex;
  gap: 0.25rem;

  @media (max-width: $tablet-portrait) {
    flex-direction: column;
    gap: 0;
  }
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-2);
  border-top: 0.2rem solid var(--color-3);
  border-right: 0.2rem solid var(--color-3);
  border-bottom: 0;
  border-left: 0.2rem solid var(--color-3);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-family: var(--font-text-bold);
  color: var(--color-1);
  cursor: pointer;

  @media (max-width: $tablet-portrait) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }

  &.selected {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    color: var(--color-neutral-5);

    &:hover {
      background-color: var(--color-purple-hover);
      border-color: var(--color-purple-hover);
    }
  }

  &.medium {
    padding: 0.75rem 1rem;
    font-size: 1.15rem;

    span {
      font-size: 1.75rem;
    }
  }

  &.large {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;

    span {
      font-size: 2rem;
    }
  }
}

.tabpanel {
  padding: 2rem;
  border: 0.2rem solid var(--color-3);
  line-height: 1.25;
  font-family: var(--font-text-bold);

  @media (max-width: $desktop) {
    padding: 1rem;
  }

  &.selected {
    .inner {
      animation: Appear 0.15s var(--easy-in-out-expo);
    }
  }

  &.medium {
    font-size: 1.25rem;
  }

  &.large {
    font-size: 1.5rem;
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
}
