$tablet-portrait: 769px;

.menu {
  overflow: hidden;
  width: 100%;

  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: 60px;
    left: -100%;
    height: calc(100vh - 60px);
    background-color: var(--color-2);
  }

  &.open {
    left: 0;
    animation: Appear 0.25s var(--easy-in-out-quad);
  }
}

.list {
  list-style-type: none;
}

.link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  line-height: 1.25;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-text-regular);
  font-size: 1.15rem;
  color: var(--color-1);

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  padding: 0.15rem 0.2rem;
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--color-neutral-1);
}

.soon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  padding: 0.15rem 0.2rem;
  background-color: var(--color-yellow);
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--color-neutral-1);
}

@keyframes Appear {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
