@mixin fonts {
  --font-icon: "Material-Icons", sans-serif;
  --font-text-black: "Prompt-Black", sans-serif;
  --font-text-bold: "Prompt-Bold", sans-serif;
  --font-text-regular: "Prompt-Regular", sans-serif;
}

@mixin colors {
  --color-neutral-1: #1b1b1b;
  --color-neutral-2: #2b2b2b;
  --color-neutral-3: #dadada;
  --color-neutral-4: #eee;
  --color-neutral-5: #fff;
  --color-purple: #ba14d7;
  --color-purple-hover: #850f9a;
  --color-magenta: #f4008f;
  --color-magenta-hover: #cb0076;
  --color-blue: #002bff;
  --color-blue-hover: #0120b9;
  --color-cyan: #08d9e1;
  --color-cyan-hover: #05adb3;
  --color-chartreuse: #7fff00;
  --color-chartreuse-hover: #5fbe00;
  --color-yellow: #fff500;
  --color-yellow-hover: #e9e100;
  --color-orange: #ff7300;
  --color-orange-hover: #cf5d00;
  --color-red: #ff1100;
  --color-red-hover: #cc0e00;
}

@mixin easings {
  --easy-in-out-quad: cubic-bezier(0.22, 0.44, 0, 1);
  // --easy-out-quad: cubic-bezier(0.4, 0, 0.2, 1);
  // transition: padding-top 0.5s cubic-bezier(0.16, 1, 0.22, 1);
  // transition: padding-top 0.5s cubic-bezier(0.85, 0, 0.15, 1);
}

:root {
  @include fonts();
  @include colors();
  @include easings();
}
