.select {
  // position: relative;
  // display: flex;
  // flex: 1;
  // margin-right: auto;
  font-size: 1.25rem;
}

.value {
  // flex: 1;
  // display: flex;
  // align-items: center;
  // padding: 1rem;
  // cursor: pointer;
}

.options {
  display: none;
  // position: relative;
  // top: 100%;
  // left: 0;
  z-index: 2;
  // width: 100%;
  background-color: green;

  &.open {
    display: block;
  }
}
