.scrollto {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 100%;
  background-color: var(--color-2);
  border-width: 0 0.2rem 0 0;
  border-style: solid;
  border-color: var(--color-3);
  font-size: 2rem;
  color: var(--color-1);
  cursor: pointer;

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }
}

.active {
  display: flex;
}
