$tablet-portrait: 769px;

.toolbar {
  text-align: right;
  background-color: var(--color-3);
  border-bottom: 0.2rem solid var(--color-4);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.button {
  width: 5rem;
  height: 4rem;
  background-color: var(--color-3);
  border-left: 0.2rem solid var(--color-4);
  font-size: 2rem;
  color: var(--color-2);

  &:hover {
    background-color: var(--color-4);
  }

  svg {
    width: 2rem;
  }
}
