.examplelist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.example {
  position: relative;
  padding: 2rem 4rem 2rem 2rem;
  border: 0.2rem solid var(--color-3);
  transform: translateX(10rem) translateZ(0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: var(--easy-in-out-quad);
  will-change: opacity, transform;
}

.active {
  transform: translateX(0) translateZ(0);
  opacity: 1;
}

.title {
  line-height: 1.25;
  font-size: 1.75rem;
}

.text {
  display: block;
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.25rem;
}

.icon {
  position: absolute;
  right: 0.75rem;
  bottom: 0.25rem;
  font-size: 2rem;
  color: var(--color-1);
}
