.notifications {
  display: flex;
  flex-direction: column;
}

.notification {
  margin-bottom: 1.25rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.2rem solid var(--color-3);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  p {
    line-height: 1.4;
    font-size: 1rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  span {
    display: block;
    padding-bottom: 0.5rem;
    line-height: 1.25;
    font-size: 1.5rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  a {
    color: var(--color-1);
  }
}
