$desktop: 1281px;
$tablet-portrait: 769px;

.promote {
  position: relative;
  max-width: 65rem;
  // margin: 5rem 5rem 4rem;
  padding: 2.5rem;
  border: 0.5rem solid var(--color-yellow);

  // @media (max-width: $desktop) {
  //   margin: 2rem 2rem 1rem;
  // }

  // @media (max-width: $tablet-portrait) {
  //   margin: 1rem;
  // }
}

.head {
  margin-bottom: 1rem;
  font-family: var(--font-text-black);
  font-size: 2rem;
}

.body {
  line-height: 1.2;
  font-size: 1.75rem;
}

.foot {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;

  a,
  button {
    padding: 1.75rem 1.5rem;
    background-color: var(--color-yellow);
    border-radius: 0.5rem;
    font-size: 1.75rem;
    color: var(--color-neutral-1);

    &:hover {
      background-color: var(--color-yellow-hover);
    }

    &:focus-visible {
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.125rem;
    }
  }
}
