$tablet-portrait: 769px;

.toolsbar {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-2);
  border-bottom: 0.2rem solid var(--color-3);
}

.toolsbarsearchable {
  position: relative;
  flex: 1;
}

.searchbar {
  position: relative;
  z-index: 2;
}

.textfield {
  border: none;
}

.button {
  width: 5rem;
  height: 4rem;
  background-color: var(--color-2);
  border-style: solid;
  border-color: var(--color-3);
  border-width: 0 0 0 0.2rem;
  font-size: 2rem;
  color: var(--color-1);

  @media (max-width: $tablet-portrait) {
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }

  svg {
    width: 2rem;

    @media (max-width: $tablet-portrait) {
      width: 1.5rem;
    }
  }
}

.list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--color-2);
  border-top: 0.2rem solid var(--color-3);

  .open & {
    display: block;
    animation: Slide 0.15s var(--easy-in-out-quad);
  }
}

.link {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.15rem;
  color: var(--color-1);

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }
}

.backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-1);
  opacity: 0.25;
  cursor: pointer;

  .open & {
    display: block;
    animation: Appear 0.15s var(--easy-in-out-quad);
  }
}

.empty {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--color-red);
  font-family: var(--font-text-regular);
  font-size: 1.75rem;
  color: var(--color-12);
  animation: Swell 0.5s var(--easy-in-out-quad);
}

@keyframes Appear {
  0% {
    opacity: 0;
  }
}

@keyframes Slide {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@keyframes Swell {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
}
