$tablet-portrait: 769px;

.toolsbar {
  position: relative;
  z-index: 2;
  text-align: right;
  background-color: var(--color-2);
  border-bottom: 0.2rem solid var(--color-3);
}

.button {
  width: 5rem;
  height: 4rem;
  background-color: var(--color-2);
  border-style: solid;
  border-color: var(--color-3);
  border-width: 0 0 0 0.2rem;
  font-size: 2rem;
  color: var(--color-1);

  @media (max-width: $tablet-portrait) {
    width: 4rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }

  svg {
    width: 2rem;

    @media (max-width: $tablet-portrait) {
      width: 1.5rem;
    }
  }
}
