@font-face {
  font-family: "Prompt-Black";
  src:
    url("./fonts/Prompt-Black.woff2") format("woff2"),
    url("./fonts/Prompt-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Prompt-Bold";
  src:
    url("./fonts/Prompt-Bold.woff2") format("woff2"),
    url("./fonts/Prompt-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material-Icons";
  src:
    url("./fonts/MaterialIcons-Regular.woff2") format("woff2"),
    url("./fonts/MaterialIcons-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
