$desktop: 1281px;
$tablet-portrait: 769px;

.main {
  grid-area: main;
  position: relative;
  z-index: 1;
  background-color: var(--color-2);

  @media (max-width: $tablet-portrait) {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px - 63px);
  }

  &::after {
    content: "";
    position: absolute;
    top: -0.2rem;
    left: -100%;
    z-index: 2;
    width: 200%;
    height: 0.2rem;
    background-color: var(--color-3);

    @media (max-width: $tablet-portrait) {
      top: -62px;
    }
  }
}

.inner {
  position: relative;
  z-index: 2;
  max-width: 90rem;
  padding: 4rem;
  background-color: var(--color-2);

  @media (max-width: $desktop) {
    padding: 2rem;
  }

  @media (max-width: $tablet-portrait) {
    padding: 1rem;
  }

  & > h1 {
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-text-bold);
    font-size: 5rem;

    @media (max-width: $desktop) {
      font-size: 4rem;
    }

    @media (max-width: $tablet-portrait) {
      font-size: 3rem;
    }

    span {
      -webkit-text-stroke: 0.08rem var(--color-1);
      color: transparent;
    }
  }

  & > h2 {
    margin: 4rem 0 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-text-bold);
    font-size: 3.5rem;

    @media (max-width: $desktop) {
      margin: 2rem 0;
      font-size: 3rem;
    }

    @media (max-width: $tablet-portrait) {
      font-size: 2.5rem;
    }

    span {
      -webkit-text-stroke: 0.08rem var(--color-1);
      color: transparent;
    }
  }

  & > h3 {
    margin: 4rem 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-text-bold);
    font-size: 2.5rem;

    @media (max-width: $desktop) {
      margin: 2rem 0;
      font-size: 2rem;
    }

    @media (max-width: $tablet-portrait) {
      font-size: 1.5rem;
    }

    span {
      -webkit-text-stroke: 0.08rem var(--color-1);
      color: transparent;
    }
  }

  & > p {
    margin: 1.5rem 0;
    line-height: 1.25;
    font-size: 1.75rem;

    @media (max-width: $desktop) {
      margin: 1rem 0;
    }

    a {
      color: var(--color-1);
    }
  }

  & > button,
  & > a {
    padding: 1.5rem;
    background-color: var(--color-yellow);
    border: 0;
    line-height: 1;
    font-size: 1.5rem;
    color: var(--color-neutral-1);

    &:hover {
      background-color: var(--color-yellow-darked);
    }

    &:focus-visible {
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.125rem;
    }

    & + button,
    & + a {
      margin-left: 2rem;
    }
  }
}
