$desktop: 1281px;
$tablet-portrait: 769px;

.main {
  grid-area: main;
  position: relative;
  z-index: 1;
  background-color: var(--color-2);

  @media (max-width: $tablet-portrait) {
    // min-height: calc(100vh - 115px);
    margin-top: 56px;
  }

  & > h1 {
    max-width: 65rem;
    margin: 5rem 5rem 4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-text-black);
    font-size: 4.5rem;

    @media (max-width: $desktop) {
      margin: 2rem 2.5rem 1rem;
      font-size: 3.5rem;
    }

    @media (max-width: $tablet-portrait) {
      margin: 1rem;
    }

    span {
      -webkit-text-stroke: 0.08rem var(--color-1);
      color: transparent;
    }
  }

  & > h2 {
    max-width: 65rem;
    margin: 5rem 5rem 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-text-black);
    font-size: 2.5rem;

    @media (max-width: $desktop) {
      margin: 2.5rem 2.5rem 1rem;
      font-size: 2rem;
    }

    @media (max-width: $tablet-portrait) {
      margin: 1rem;
    }

    span {
      -webkit-text-stroke: 0.08rem var(--color-1);
      color: transparent;
    }
  }

  & > p {
    max-width: 65rem;
    margin: 1.5rem 5rem;
    line-height: 1.25;
    font-size: 1.5rem;

    @media (max-width: $desktop) {
      margin: 1rem 2.5rem;
    }

    @media (max-width: $tablet-portrait) {
      margin: 1rem;
    }

    a {
      color: var(--color-1);
    }
  }

  & > ul {
    max-width: 65rem;
    display: flex;
    margin: 1.5rem 5rem;
    list-style-type: none;
    line-height: 1.25;
    font-family: var(--font-text-bold);
    font-size: 1.5rem;

    @media (max-width: $desktop) {
      margin: 1rem 2rem;
    }

    @media (max-width: $tablet-portrait) {
      margin: 1rem;
    }

    li + li {
      margin-left: 1rem;
    }

    button {
      padding: 1rem 1.5rem;
      background-color: var(--color-2);
      border: 0.2rem solid var(--color-3);
      border-radius: 0.5rem;
      font-size: 1.25rem;
      color: var(--color-1);

      &:hover {
        background-color: var(--color-3);
      }

      &:focus-visible {
        outline: 0.2rem solid var(--color-orange);
      }
    }
  }
}

.inner {
  position: relative;
  z-index: 2;
  padding: 5rem;
  background-color: var(--color-2);

  @media (max-width: $desktop) {
    padding: 2.5rem;
  }

  @media (max-width: $tablet-portrait) {
    padding: 1rem;
  }
}
