.textfield {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.25rem;
  background-color: var(--color-2);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--color-3);
  color: var(--color-1);
  cursor: pointer;

  &.focus {
    outline: 0.2rem solid var(--color-purple-hover);
    outline-offset: 0.125rem;
  }

  &.success {
    border-color: var(--color-chartreuse);
  }

  &.warning {
    border-color: var(--color-orange);
  }

  &.error {
    border-color: var(--color-red);
  }
}

.input {
  width: 100%;
  flex-grow: 1;
  padding: 0.75rem 0;
  background-color: transparent;
  border: 0;
  font-family: var(--font-text-bold);
  font-size: 1.55rem;
  color: var(--color-1);
  outline: 0;

  &::placeholder {
    font-style: italic;
  }
}

.icon {
  font-size: 2rem;
  pointer-events: none;
}
