@mixin if-dark {
  .dark {
    @content;
  }
}

@mixin dark {
  --color-1: var(--color-yellow);
  --color-2: var(--color-neutral-5);
  --color-3: var(--color-neutral-1);
  --color-4: var(--color-neutral-2);
  // --color-3: var(--info-color);
  // --color-4: var(--info-hover-color);
  // --color-5: var(--success-color);
  // --color-6: var(--success-hover-color);
  // --color-7: var(--warning-color);
  // --color-8: var(--warning-hover-color);
  // --color-9: var(--error-color);
  // --color-10: var(--error-hover-color);
  // --color-11: var(--color-neutral-1);
  // --color-12: var(--color-neutral-5);
  // --color-13: var(--color-neutral-2);
  // --color-14: var(--color-neutral-5);
  // --color-15: var(--color-neutral-3);
  // --color-16: var(--color-neutral-2);
  // --color-17: var(--color-neutral-1);
  // --color-18: var(--color-magenta);
  // --color-19: var(--color-cyan);
  // --color-20: var(--color-geekblue);
}

:root {
  @include if-dark {
    @include dark();
  }
}
