@use "../../scss/index.scss" as *;

.fab {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 2rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--ds-font-text-bold);
  cursor: pointer;

  &.contained {
    background-color: var(--ds-color-purple);
    border-color: var(--ds-color-purple);
    color: var(--ds-color-neutral-5);

    &:hover,
    &:active {
      background-color: var(--ds-color-purple-darked);
      border-color: var(--ds-color-purple-darked);
    }

    &:focus-visible:not(.disabled) {
      background-color: var(--ds-color-purple-darked);
      border-color: var(--ds-color-purple-darked);
      outline: 0.2rem solid var(--ds-color-purple-darked);
      outline-offset: 0.125rem;
    }

    &.disabled {
      background-color: var(--ds-color-neutral-4);
      border-color: var(--ds-color-neutral-4);
    }
  }

  &.disabled {
    color: var(--ds-color-neutral-3);
    outline: none;
    pointer-events: none;
    cursor: default;
  }

  &.small {
    padding: 0.15rem 0.25rem;
    font-size: 0.75rem;

    span {
      font-size: 1.5rem;
    }

    svg {
      width: 1.5rem;
      height: auto;
    }
  }

  &.medium {
    padding: 0.75rem;
    font-size: 1rem;

    span {
      font-size: 1.75rem;
    }

    svg {
      width: 1.75rem;
      height: auto;
    }
  }

  &.large {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;

    span {
      font-size: 2rem;
    }

    svg {
      width: 2rem;
      height: auto;
    }
  }
}
