.ds-pagination {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 1.5rem;

  &_nav {
    display: flex;
    align-items: center;
  }

  &_item,
  &_ellipsis {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    user-select: none;
    font-family: var(--font-text-bold);

    &:disabled,
    &--disabled {
      color: var(--ds-on-disabled);
      pointer-events: none;
      cursor: default;
    }
  }

  &_item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.25rem;
    color: var(--color-purple);
    cursor: pointer;

    &:hover:not(.ds-pagination_item--active) {
      background-color: var(--color-purple);
      color: var(--color-neutral-6);
    }

    &--active {
      background-color: var(--color-purple);
      color: var(--color-neutral-6);

      &:disabled {
        background-color: var(--color-neutral-4);
      }
    }

    &:disabled {
      color: var(--color-purple-darked);
      opacity: 0.75;
      pointer-events: none;
      cursor: default;
    }

    &:focus-visible:not(.ds-pagination_item--active) {
      color: var(--color-purple-darked);
      outline: 0.2rem solid var(--color-purple-darked);
      outline-offset: 0.125rem;

      &:not(.ds-pagination_item--active) {
        color: var(--color-purple);
      }
    }
  }

  &_ellipsis {
    cursor: default;
  }

  &_pagination {
    display: flex;
    gap: 1.5rem;
  }

  &_page-count-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-text-bold);
    font-size: 1.25rem;
  }

  &--variant {
    &-center {
      justify-content: center;
    }

    &-space-between {
      justify-content: space-between;
    }
  }

  &--size {
    &-s {
      .ds-pagination_item,
      .ds-pagination_ellipsis {
        min-width: 2rem;
        height: 2.5rem;
        font-size: 1rem;
      }
    }

    &-m {
      .ds-pagination_item,
      .ds-pagination_ellipsis {
        min-width: 3rem;
        height: 3rem;
        font-size: 1.25rem;
      }
    }
  }
}
