.accordion {
  overflow: hidden;
  border-bottom: 0.2rem solid var(--color-3);
}

.trigger {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--color-2);
  border: 0;
  line-height: 1.2;
  text-align: left;
  text-transform: capitalize;
  font-family: var(--font-text-regular);
  font-size: 1.15rem;
  color: var(--color-1);
  cursor: pointer;

  .icon {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.75rem;
  }

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-outline);
    outline-offset: -0.25rem;
  }
}

.panel {
  transition-delay: 0s, 0.25s;
  visibility: hidden;

  .expanded & {
    transition-delay: 0s;
    visibility: visible;
  }

  &.animated {
    transition-property: margin-top, visibility;
    transition-duration: 0.25s, 0s;
    transition-timing-function: var(--easy-in-out-quad);
    will-change: margin-top;
  }
}
