.formfield {
  font-family: var(--font-text-bold);
}

.label {
  margin-bottom: 1rem;
  font-size: 1.55rem;
}

.helpertext {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.errormessage {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: var(--color-red);
}
