$tablet-portrait: 769px;

.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 0;
  height: 0.25rem;
  background-color: var(--color-primary);
  pointer-events: none;

  @media (max-width: $tablet-portrait) {
    height: 0.2rem;
  }
}
