$tablet-landscape: 1025px;
$tablet-portrait: 769px;

.settings {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 100vw;
  background-color: var(--color-2);
  transition-property: height, top, visibility;
  transition-duration: 0.35s, 0.35s, 0s;
  transition-timing-function: var(--easy-in-out-quad);
  transition-delay: 0s, 0s, 0.35s;
  will-change: height, top;

  @media (max-width: $tablet-portrait) {
    margin-top: -60px;
  }
}

.open {
  visibility: initial;
  pointer-events: initial;
  transition-delay: 0s;
}

.inner {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 12rem;

  @media (max-width: $tablet-landscape) {
    gap: 1rem;
    height: 10rem;
  }

  @media (max-width: $tablet-portrait) {
    height: 14rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.title {
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-family: var(--font-text-bold);
  font-size: 1.25rem;
  color: var(--color-1);
}

.button {
  background: transparent;
  color: var(--color-1);

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: -0.25rem;
  }

  svg {
    width: 2rem;
  }
}

.mode,
.direction {
  .button {
    gap: 0.75rem;
    padding: 0.75rem 1.25rem;
    border: 0.2rem solid var(--color-3);
    font-size: 1.25rem;

    @media (max-width: $tablet-landscape) {
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
    }

    &:focus-visible {
      position: relative;
      z-index: 2;
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.03rem;
    }

    &.active {
      background-color: var(--color-3);
      cursor: default;
    }

    .icon {
      font-size: 1.5rem;
    }
  }
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  bottom: 0.7rem;
  z-index: 2;
  padding: 0.25rem 0.5rem;
  border: 0.2rem solid var(--color-3);
  font-size: 1.5rem;

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: 0.03rem;
  }
}
