$tablet-landscape: 1025px;
$tablet-portrait: 769px;

.settings {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 100vw;
  background-color: var(--color-2);
  font-size: 0;
  transition-property: height, top, visibility;
  transition-duration: 0.5s, 0.5s, 0s;
  transition-timing-function: var(--easy-in-out-quad);
  transition-delay: 0s, 0s, 0.5s;
  will-change: height, top;

  @media (max-width: $tablet-portrait) {
    margin-top: -60px;
  }
}

.open {
  visibility: initial;
  pointer-events: initial;
  transition-delay: 0s;
}

.inner {
  display: flex;
  justify-content: center;
  padding-right: 4rem;
}

.content {
  height: 18rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: 2rem;

  @media (max-width: $tablet-landscape) {
    height: 14rem;
    gap: 1rem;
  }

  @media (max-width: $tablet-portrait) {
    height: 28.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
  }
}

.row {
  display: flex;
  gap: 2.5rem;

  @media (max-width: $tablet-landscape) {
    gap: 0.5rem;
  }

  @media (max-width: $tablet-portrait) {
    flex-direction: column;
  }
}

.column {
  display: flex;
  gap: 2rem;

  @media (max-width: $tablet-landscape) {
    gap: 1rem;
  }

  @media (max-width: $tablet-portrait) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-family: var(--font-text-bold);
  font-size: 1.15rem;
  color: var(--color-1);

  @media (max-width: $tablet-landscape) {
    font-size: 1rem;
  }
}

.button {
  background: transparent;
  color: var(--color-1);

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-outline);
    outline-offset: -0.25rem;
  }

  svg {
    width: 1.005rem;
  }
}

.accessibility,
.color,
.direction,
.lang,
.mode {
  .button {
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0.2rem solid var(--color-3);
    line-height: 1.5;
    font-size: 1.15rem;

    @media (max-width: $tablet-landscape) {
      gap: 0.4rem;
      padding: 0.45rem 0.65rem;
      font-size: 1rem;
    }

    &:nth-child(3) {
      border-left: 0;

      &:not(:last-child) {
        border-right: 0;
      }
    }

    &:nth-child(5) {
      border-left: 0;
    }

    &:focus-visible {
      position: relative;
      z-index: 2;
      outline: 0.2rem solid var(--color-outline);
      outline-offset: 0.03rem;
    }

    &.active {
      background-color: var(--color-3);
      pointer-events: none;
      cursor: default;
    }
  }
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  bottom: 0.7rem;
  z-index: 2;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-2);
  border: 0.2rem solid var(--color-3);
  font-size: 1.5rem;

  &:hover {
    background-color: var(--color-3);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-outline);
    outline-offset: 0.03rem;
  }
}
