$tablet-landscape: 1025px;
$tablet-portrait: 769px;

.banner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 4.5rem 1rem 1.5rem;

  @media (max-width: $tablet-landscape) {
    padding: 1rem 4rem 1rem 1rem;
  }

  &.info {
    background-color: var(--color-chartreuse);
  }

  &.success {
    background-color: var(--color-cyan);
  }

  &.warning {
    background-color: var(--color-orange);
  }

  p {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: var(--font-text-bold);
    font-size: 1.75em;
    color: var(--color-neutral-1);

    @media (max-width: $tablet-landscape) {
      font-size: 1.5em;
    }
  }

  a {
    color: var(--color-neutral-1);

    &:focus-visible {
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.03rem;
    }
  }
}

.icon {
  font-size: 4rem;
  color: var(--color-neutral-1);

  @media (max-width: $tablet-portrait) {
    font-size: 3.25rem;
  }
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 2;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 0.2rem solid var(--color-neutral-1);
  font-size: 1.5rem;
  color: var(--color-neutral-1);

  &:hover {
    background-color: var(--color-neutral-1);

    .info & {
      color: var(--color-chartreuse);
    }

    .warning & {
      color: var(--color-orange);
    }
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
    outline-offset: 0.03rem;
  }
}
