@use "../../scss/index.scss" as *;

.ds-tabs {
  .ds-tablist {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .ds-tab {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem 0.25rem 0px 0px;
    font-family: var(--font-text-bold);
    color: var(--color-1);
    cursor: pointer;

    &--selected {
      background-color: var(--color-purple);
      color: var(--color-neutral-6);
    }

    &--disabled {
      background-color: var(--color-neutral-4);
      color: var(--color-neutral-3);
      pointer-events: none;
    }

    .ds-icon {
      font-size: 1rem;
    }

    &:hover {
      background-color: var(--color-purple-darked);
      color: var(--color-neutral-6);
    }

    &:focus-visible {
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.125rem;
    }
  }

  .ds-tabpanel {
    display: none;
    border-radius: 0px 0px 0.25rem 0.25rem;
    border: 0.125rem solid var(--color-purple);
    color: var(--color-1);

    &--selected {
      display: block;
    }

    &:focus-visible {
      outline: 0.2rem solid var(--color-orange);
      outline-offset: 0.125rem;
    }
  }

  &--alignment-left {
    .ds-tablist {
      justify-content: flex-start;
    }
  }

  &--alignment-center {
    .ds-tablist {
      justify-content: center;
    }
  }

  &--alignment-right {
    .ds-tablist {
      justify-content: flex-end;
    }
  }

  &--size-small {
    .ds-tab {
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
    }

    .ds-tabpanel {
      padding: 0.75rem 1rem;
      font-size: 1rem;
    }
  }

  &--size-medium {
    .ds-tab {
      padding: 0.5rem 1.25rem;
      font-size: 1.25rem;
    }

    .ds-tabpanel {
      padding: 1rem 1.25rem;
      font-size: 1.25rem;
    }
  }
}
