$desktop: 1281px;
$tablet-landscape: 1025px;
$tablet-portrait: 769px;

.help {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inner {
  flex: 1;
  padding: 2.5rem;
  background-color: var(--color-2);
  border: 0.2rem solid var(--color-3);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: var(--font-text-bold);
  font-size: 3rem;
  color: var(--color-1);

  @media (max-width: $desktop) {
    font-size: 2.5rem;
  }

  @media (max-width: $tablet-landscape) {
    padding: 1rem 1.5rem;
  }

  @media (max-width: $tablet-portrait) {
    padding: 1rem;
  }

  .active & {
    flex: none;
    padding: 0.25rem 0.35rem;
    font-size: 1.15rem;
  }

  span {
    .active & {
      display: none;
    }
  }
}
