$tablet-landscape: 1025px;
$tablet-portrait: 769px;

.settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  background-color: var(--color-3);
  transition-property: height, top;
  transition-duration: 0.35s;
  transition-timing-function: var(--easy-in-out-quad);
  will-change: height, top;
}

.inner {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  gap: 2rem;
  padding: 3.5rem 1rem;

  @media (max-width: $tablet-landscape) {
    gap: 1rem;
  }

  @media (max-width: $tablet-portrait) {
    flex-direction: column;
    padding: 1rem;
  }
}

.title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-family: var(--font-text-bold);
  font-size: 1.15rem;

  @media (max-width: $tablet-portrait) {
    font-size: 1rem;
  }
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--color-3);
  border: 0.2rem solid var(--color-4);
  font-size: 1.15rem;
  color: var(--color-1);

  @media (max-width: $tablet-portrait) {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  &:hover {
    background-color: var(--color-4);
  }

  &:focus-visible {
    position: relative;
    z-index: 2;
    outline: 0.2rem solid var(--color-orange);
  }

  &.active {
    background-color: var(--color-4);
    cursor: default;
  }
}

.mode,
.direction,
.accessibility {
  .button {
    &:nth-child(2) {
      border-top-right-radius: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0.5rem;
    }

    &:nth-child(3) {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0;
    }
  }
}

.accessibility {
  .button {
    &:nth-child(2) {
      border-right: 0;
    }
  }
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-3);
  border: 0.2rem solid var(--color-4);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: var(--color-1);

  &:hover {
    background-color: var(--color-4);
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-orange);
  }
}
