$tablet-portrait: 769px;

.badge {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.content {
  position: absolute;
  top: 0.85rem;
  right: 0.85rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  min-height: 1.15rem;
  padding: 0 0.25rem;
  background-color: var(--color-red);
  border-radius: 0.875rem;
  font-size: 0.85rem;
  font-family: var(--font-text-regular);
  color: var(--color-neutral-6);
  pointer-events: none;

  @media (max-width: $tablet-portrait) {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0 0.05rem;
    font-size: 0.75rem;
  }
}
